.gray-content-block.second-block {
    .dropdown-content {
        overflow-y: auto;
    }
    .filter-item .loading-display{
        cursor: default;
        line-height: 33px;
        width: 35px;
        display: inline-block;
        text-align: center;
        border: 1px solid #e5e5e5;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 3px;
        color: #626262;
        background-color: #fff;
    }
}


@media (max-width: $screen-sm-max) {
    .gray-content-block {
        display: none;
    }
}
