&.ui_console {
    @include gitlab-theme(#c5d0de, $theme-charcoal, #2b333d, #24272d);
    // @include gitlab-theme(#666, #f1f1f1, #f9f9f9, transparent);

    .content-wrapper {
        .container-fluid {
            min-height: 500px;

            &.detail {
                .top-area {
                    border-bottom: none;
                }

                .table-detail > tbody > tr > td:nth-child(2) > span {
                    display: inline-block;
                    word-wrap: break-word;

                    @media (min-width: $screen-md-min) {
                        max-width: 150px;
                    }

                    @media (min-width: 1150px) {
                        max-width: 200px;
                    }

                    @media (min-width: 1300px), (max-width: $screen-md-min) {
                        max-width: 250px;
                    }
                }

                .tabs {
                    @media (min-width: $screen-md-min) {
                        padding-left: 0px;
                    }

                    .nav-links li a {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }

                .btn-page-action {
                    border: none;
                    background: none;
                    width: 100%;
                    text-align: left;
                    padding-left: 10px;
                    padding-right: 10px;

                    &:disabled{
                        cursor: not-allowed;
                        color:#ccc;
                    }
                }
            }
        }
    }

    .header-logo,
    .page-sidebar-expanded .sidebar-wrapper,
    .page-sidebar-expanded .sidebar-wrapper .nav-sidebar li a {
    }

    .header-logo {
        height: 57px;

        a .gitlab-text-container h3 {
            font-size: 16px;
            margin-left: 36px;
            font-weight: 600;
        }
    }

    .page-with-sidebar {

        .sidebar-wrapper {
            padding-top: $header-height;

            .header-logo a {
                padding: 11px 0 11px 16px;

                img {
                    width: 30px;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }

        &.page-sidebar-collapsed .sidebar-wrapper .header-logo a {
            padding-left: 16px;
        }

        .nav-sidebar {
            li.active a {
                border-right: 3px solid #f91;
                width: $sidebar_width;
            }
        }

        .collapse-nav a {
            height: 38px;
            line-height: 38px;
        }
    }
}

.collapse-nav a {
}

@media (min-width: 992px) {
    .page-sidebar-expanded {
    }
}

.console_output {
    background: #000;
    color: #aaa;
    max-height: 600px;
    overflow-y: auto;
    border: none;
    border-radius: 0px;
}

.progress {
    margin: 5px 0 15px 0;
    height: 12px;
}
