header.navbar-gitlab {
    z-index: 10000;
    margin-left: 0;
    background: #0e90d2;
    border-bottom: none;

    .container-fluid {
        .navbar-brand {
            padding: 9px 15px;
            height: $header-height;

            img {
                height: 28px;
            }
        }

        .header-content {
            float: right;

            .title a {
                color: #fff;
            }

            .title,
            .navbar-toggle,
            .navbar-nav > li > a {
                font-size: 15px;
                color: #fff;
                height: $header-height;
                line-height: $header-height;
                padding: 0px 10px;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;

                &:active,
                &:focus,
                &:hover {
                    background: #0d85bf;
                    border-left: 1px solid #0a7cd1;
                    border-right: 1px solid #0a7cd1;
                }
            }

            .nav .open > a,
            .nav .open > a:hover,
            .nav .open > a:focus {
                background: #0d85bf;
            }

            ul.nav li.dropdown:hover > ul.dropdown-menu {
                display: block;
                left: inherit;
                right: 0;
            }

            @media (min-width: 979px) {
                ul.nav li.dropdown:hover > ul.dropdown-menu {
                    display: block;
                }
            }
        }
    }
}
