.i-status {
    font-size: 13px;

    &.i-status-pending {
        color: #c09853;
        font-style: italic;

        i.icon {
            background: #c09853;
            border-color: #fcf8e3;

            -moz-transform: scale(.7);
            -webkit-transform: scale(.7);
            -moz-animation: move 1s infinite linear;
            -webkit-animation: move 1s infinite linear;
            -moz-animation-delay: .4s;
            -webkit-animation-delay: .4s;
        }
    }
    &.i-status-active {
        color: #468847;

        i.icon {
            background: #468847;
            border-color: #dff0d8;
        }
    }

    &.i-status-deleted {
        color: #b94a48;

        i.icon {
            background: #b94a48;
            border-color: #f2dede;
        }
    }

    i.icon {
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        height: 16px;
        width: 16px;
        border-width: 3px;
        border-style: solid;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }
}

@-webkit-keyframes move {
    0% {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1
    }
    100% {
        -moz-transform: scale(.7);
        -webkit-transform: scale(.7);
        opacity: .1
    }
}

@-moz-keyframes move {
    0% {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1
    }
    100% {
        -moz-transform: scale(.7);
        -webkit-transform: scale(.7);
        opacity: .1
    }
}

@-o-keyframes move {
    0% {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1
    }
    100% {
        -moz-transform: scale(.7);
        -webkit-transform: scale(.7);
        opacity: .1
    }
}

@keyframes move {
    0% {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 1
    }
    100% {
        -moz-transform: scale(.7);
        -webkit-transform: scale(.7);
        opacity: .1
    }
}
