body {
  &.ui_charcoal {
    .content-wrapper {
        .container-fluid {
            min-height: 500px;

            &.detail {
                .top-area {
                    border-bottom: none;
                }

                .tabs {
                    @media (min-width: $screen-md-min) {
                        padding-left: 0px;
                    }

                    .nav-links li a {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    .page-with-sidebar {
      .nav-sidebar {
        li.active a {
          background: #2c95c4;
        }
        li h5 {
          padding-left: 15px;
          font-weight: normal;
          color: #c5d0de;
          text-transform: upperCase;
          opacity: 0.5;
        }
      }

      &.page-sidebar-collapsed {
        .nav-sidebar {
          li h5 {
            display: none;
          }
        }
      }
    }
  }
}

.console_output {
    background: #000;
    color: #aaa;
    max-height: 600px;
    overflow-y: auto;
    border: none;
    border-radius: 0px;
}
