body {
  &.ui_boss {
    @include gitlab-theme(#e5e9ed, #32566f, #19415d, #002C4C);

    .page-sidebar-collapsed {
      padding-right: $sidebar_collapsed_width;
      padding-left: 0;

      .sidebar-wrapper {
        .sidebar-user {
          padding-right: ($sidebar_collapsed_width - 36) / 2;
          padding-left: 0;
        }
      }
    }

    .page-sidebar-expanded {
      padding-right: $sidebar_collapsed_width;
      padding-left: 0;

      @media (min-width: $screen-md-min) {
        padding-right: $sidebar_width;
        padding-left: 0;
      }
    }

    .page-with-sidebar {
      .sidebar-wrapper {
        right: 0;
        left: inherit;
      }
    }

    .collapse-nav a {
        right: 0;
        left: inherit;
    }

    @mixin collapsed-header {
      margin-right: $sidebar_collapsed_width;
      margin-left: 0;
    }

    .header-collapsed {
      margin-right: $sidebar_collapsed_width;
      margin-left: 0;

      @media (min-width: $screen-md-min) {
        @include collapsed-header;
      }
    }

    .header-expanded {
      margin-right: $sidebar_collapsed_width;
      margin-left: 0;

      @media (min-width: $screen-md-min) {
        margin-right: $sidebar_width;
        margin-left: 0;
      }
    }
  }
}
