.login-page {
  label.control-label {
    padding: 0px;
  }

  .flash-container {
    margin-bottom: 20px;
  }

  .brand-holder {
    font-size: 16px;
    line-height: 1.5;

    p {
      color: #888;
    }

    h1:first-child {
      font-weight: normal;
      margin-bottom: 30px;
      margin-top: 20px;
    }

    img {
      max-width: 100%;
      margin-bottom: 30px;
    }

    a {
      font-weight: bold;
    }
  }

  .login-box {
    background: #fafafa;
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 15px;

    .login-heading h3 {
      font-weight: 300;
      line-height: 1.5;
      margin: 0 0 10px;
    }
  }
}
